# netlify.toml
[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  external_node_modules = ["node-fetch"]

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200
